body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 12px;
    box-sizing: border-box;
    font-weight: 400;
}

h1,p{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    box-sizing: border-box;
}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2em;
    border-radius: 2em;
    height: 45em;
    margin-top: 5.5em;
}

.faqImage{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.imageContainer{
    width: 100%;
    height: 8.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#womanOnline{
    margin-top: -10em;
    margin-left: -2.5em;
    
}

.questions{
    display: flex;
    flex-direction: column;
    height: 47.5em;
    justify-content: center;
    width: 100%;
}

.questions h1{
    text-align: center;
    font-size: 3em;
    color: hsl(238, 29%, 16%);
}

.qa{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid hsl(240, 5%, 91%);
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title img{
    transition: 0.2s transform ease-out;
}

.question{
    margin: 0.7em 0;
    font-size: 13px;
    cursor: pointer;
    color: hsl(238, 29%, 16%);
}

.question:hover{
    color: hsl(14, 88%, 65%);
}
.answers{
    margin-bottom: 1em;
    display: none;
    color: hsl(240, 6%, 50%);
    padding-right: 2em;
}

@media(min-width: 1200px){
    .Container{
        display: flex;
        flex-direction: row;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        width: 80em;
        height: 49em;
        padding-bottom: 0;
    }

    .faqImage{
        display: flex;
        margin-right: 8em;
        background-image: url("../images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: right 70%;
        background-size: auto;
        height: 49em;
        width: 50%;
    }

    .faqImage::before{
        content: url("../images/illustration-box-desktop.svg");
        position: absolute;
        left: -7.78em;
        margin-top: 4em;
        max-width: 100%;
    }

    .imageContainer{
        overflow: hidden;
        height: 100%;
    }

    #womanOnline{
        margin-left: -6.7em;
        content: url("../images/illustration-woman-online-desktop.svg");
        margin-top: 0;
    }

    .questions{
        display: flex;
        flex-direction: column;
        margin-right: 8em;
        width: 50%;
    }

    .questions h1{
        text-align: left;
    }

    .qa{
        display: flex;
    }
}
